* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background: #FF6F61;
}

.imagebox {
  width: 90vw;
  height: 80vh;
  object-fit: contain;
  margin: auto;
  display: block;
}

.buttons {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align:center
}

.form{
  display: inline-block;
}

.upload-label{
  background: white;
  border-radius: 10px;
  color: #FF6F61;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 10px;
  padding: 20px 30px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

#fileInput{
  display: none;
}

.error-message{
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  padding: 20px 30px;
  text-align: center;
}
