<html>
<head>
    <title>How AI sees Art</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="buttons">
    <a class="upload-label" id="back-button" href="/" >Back</a>
    <form id="form" class="form" action="/upload" enctype="multipart/form-data" method="post">
        <label class="upload-label" for="fileInput">Upload file</label>
        <input id="fileInput" name="file" type="file" multiple value="Choose file">
    </form>
    <script>
        const form = document.getElementById("form");
        const fileInput = document.getElementById("fileInput");
        fileInput.onchange = function () {
            form.submit()
        }

        if (location.pathname === "/"){
            document.getElementById("back-button").style.display = "none";
        }
    </script>
</div>
<img class="imagebox" src={{image}} alt="">
</body>
</html>
